@import '../../assets/styles/variables';

#typesPage{
    background-color: $purple;

    section{
        padding: $grid-gutter * 2 0;
    }

    #intro{
        display: flex;
        padding: 200px 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #allTypes{
        

        .type{
            padding: $grid-gutter / 2;

            h3{
                margin-top: 0;
            }

            .type-wrap{
                padding: $grid-gutter / 2;

                @include typeColors;
            }
        }
    }
}