@import '../../assets/styles/variables';

.landing-page{
    padding-top: 0!important;

    section{
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    #intro{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        
        .wrap{
            flex: 1;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    #interviews{
        .number{
            color: $red;
            text-align: center;
            font-size: 80px;

            @include media-breakpoint-up(md){
                font-size: 150px;
            }
        }
    }

    #quizQuestion{
        background-color: $purple;

        h3{
            color: $black;
        }

        ul{
            margin: $grid-gutter auto;
            text-align: left;
            color: $yellow;

            li{
                list-style: none;
                display: flex;
                align-items: center;
                margin-bottom: $grid-gutter / 2;

                .box{
                    border: 2px solid $yellow;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    margin-right: $grid-gutter / 2;

                    &.active{
                        background-color: $yellow;
                    }
                }
            }
        }
    }

    #swingStates{
        display: block;
        padding: 200px 0;

        .swing-animation{
            margin-bottom: $grid-gutter * 2;

            .swing-text{
                color: $white;
                border-bottom: 20px solid $purple;
                font-size: 30px;
                line-height: 20px;
                font-family: $spoof;
                text-transform: uppercase;
                display: flex;
                justify-content: space-between;

                transform: rotateZ(10deg);

                @include media-breakpoint-up(md){
                    font-size: 100px;
                    line-height: 70px;
                    border-bottom-width: 50px;
                }
            }

            .swing-triangle{
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 30px 60px 30px;
                border-color: transparent transparent $green transparent;
                margin: 0 auto 0;

                @include media-breakpoint-up(md){
                    border-width: 0 50px 100px 50px;
                    margin: -$grid-gutter / 2 auto 0;
                }
            }
        }

        #swingData{
            margin-top: $grid-gutter * 2;
            border: 2px solid $white;
            min-height: 800px;
            text-align: center;

            .swingstates-chart{
                background-color: transparent;
                
                .chartContainer .chart-wrap{
                    background-color: transparent;
                }
            }
        }
    }

    #demographics{
        background-color: $red;
        color: $black;
    }

    #mistrust{
        background-color: $green;
        color: $black;

        a{
            color: $yellow;
        }
    }

    #emerging{
        text-align: center;
        padding: $grid-gutter * 4 0;

        .dashes{
            height: 80vh;
            width: 0px;
            border-left: 2px dashed $yellow;
            margin: $grid-gutter auto;
        }

        #emerging-numbers{
            opacity: 0;
            transform: scale(0);
        }

        p{
            max-width: $wrap-sm;
            margin: auto;
        }
    }

    #conclusion{

    }

    .number{
        text-align: center;
        color: $yellow;
        font-family: $spoof;
        font-size: 100px;

        @include media-breakpoint-up(md){
            font-size: 200px;
        }
    }
}