@import '../../assets/styles/variables';

#landingQuizWrap{
    ul{
        margin: $grid-gutter auto;
        padding-left: 0;
        text-align: left;
        color: $black;
    
        li{
            padding: 2.5%;
            list-style: none;
            margin-left: -2.5%;
            width: 105%;

            .question{
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            p{
                color: $white;
                margin: 10px 0 0;
            }
    
            .checkbox{
                display: inline-block;
                border: 2px solid $yellow;
                width: 30px;
                height: 30px;
                display: inline-block;
                margin-right: $grid-gutter / 2;
                flex: 0 0 30px;
    
                &.active{
                    background-color: $yellow;
                }
            }

            &.right,
            &.wrong{
                .question{
                    cursor: default;
                }

                .checkbox{
                    position: relative;
                    background-color: $black;
                    border-color: $black;

                    &:after{
                        content: 'X';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: $white;
                        font-family: $spoof;
                        font-size: 30px;
                    }
                }
            }

            &.wrong{
                background-color: $red;

                .checkbox{
                    background-color: $black;
                    border-color: $black;

                    &:after{
                        content: 'X';
                    }
                }
            }

            &.right{
                background-color: $green;

                .checkbox{
                    background-color: $black;
                    border-color: $black;

                    &:after{
                        content: 'V';
                    }
                }
            }
        }
    }
}