@import '../../assets/styles/variables';

.landing-page{
    padding: 0!important;

    section{
        padding: 100px 0;

        @include media-breakpoint-up(md){
            padding: 200px 0;
        }
    }

    #intro{
        min-height: 100vh;
        padding-bottom: 0;
        

        #sign{
            position: absolute;
            bottom: 0;
            left: 25%;
            width: 50%;

            img{
                width: 100%;
            }
        }

        @include media-breakpoint-up(md){
            display: flex;
            align-items: center;
            padding-top: 0;

            #sign{
                left: 60%;
                width: 30%;
                max-width: 500px;
            }
        }
    }
    
    #interviews{
        .number{
            color: $red;
            text-align: center;
            font-size: 80px;

            @include media-breakpoint-up(md){
                font-size: 150px;
            }
        }

        .explainer-video{
            margin-top: $grid-gutter * 2;
            text-align: center;

            @include media-breakpoint-up(md){
                margin-top: 200px;
            }

            h3{
                margin-bottom: $grid-gutter;
            }
        }
    }

    #quizQuestion{
        background-color: $purple;

        h3{
            color: $black;
        }
    }

    #swingStates{
        display: block;
        padding: 200px 0;

        .swing-animation{
            margin-bottom: $grid-gutter * 2;

            .swing-text{
                color: $white;
                border-bottom: 20px solid $purple;
                font-size: 30px;
                line-height: 20px;
                font-family: $spoof;
                text-transform: uppercase;
                display: flex;
                justify-content: space-between;

                transform: rotateZ(10deg);

                @include media-breakpoint-up(md){
                    font-size: 100px;
                    line-height: 70px;
                    border-bottom-width: 50px;
                }
            }

            .swing-triangle{
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 30px 60px 30px;
                border-color: transparent transparent $green transparent;
                margin: 0 auto 0;

                @include media-breakpoint-up(md){
                    border-width: 0 50px 100px 50px;
                    margin: -$grid-gutter / 2 auto 0;
                }
            }
        }

        #swingData{
            margin-top: $grid-gutter * 2;
            padding: $grid-gutter $grid-gutter / 2;
            border: 2px solid $white;
            min-height: 800px;
            text-align: center;
            background-color: $blue;

            .swingstates-chart{
                background-color: transparent;
                
                .chartContainer .chart-wrap{
                    background-color: transparent;

                    .swing-circle-selectors {
                    
                        .selectors {

                            &.active{
                                .selectors-text{
                                  background-color: $yellow;
                                  color: $black;
                                }
                            }
                    
                          .arrow-up {
                            border-bottom-color: $yellow;
                          }
                        }
                      }
                }
            }
        }
    }

    #demography{
        background: $purple;
    }

    #personalImpact{
        background-color: $yellow;
        color: $black;
    }

    #mistrust{
        background-color: $green;
        color: $black;

        a{
            color: $yellow;
        }
    }

    #emerging{
        text-align: center;
        padding: $grid-gutter * 4 0;

        #dashes{
            height: 800px;

            .dashes-wrap{
                width: 5px;
                background: url('../../assets/images/dashes-dot.png');
                background-size: contain;
                margin: $grid-gutter auto;
            }
        }

        #emerging-numbers{
            opacity: 0;
            transform: scale(0);
            padding-top: $grid-gutter;

            h3{
                color: $yellow;
            }

            .number{
                line-height: 1em;
            }
        }

        p{
            max-width: $wrap-sm;
            margin: auto;
        }
    }

    #emergingText{
        font-size: 1.5em;
    }

    #browser{
        min-height: 100vh;
        display: flex;
            align-items: center;
    }

    #conclusion{
        background-color: $white;
        color: $black;

        .text{
            margin-bottom: $grid-gutter;
        }
        
        @include media-breakpoint-up(md){
            padding-bottom: 400px;
        }

        //Capitol image
        background-image: url('/images/capitol_header.png');
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 50%;
    }

    #next{
        padding: 0;

        .next-item{
            text-align: center;
            padding: 100px $grid-gutter;

            @include media-breakpoint-up(md){
                padding: 200px $grid-gutter;
            }

            h2{
                text-transform: uppercase;
            }

            &#learn{
                background-color: $purple;
            }
            &#watch{
                background-color: $red;
            }
            &#explore{
                background-color: $blue;
            }
        }
    }

    .box{
        padding: $grid-gutter / 2;
        text-align: center;

        &.black{
            background-color: $black;
            color: $white;
        }

    }

    .number{
        text-align: center;
        color: $yellow;
        font-family: $spoof;
        font-size: 100px;

        @include media-breakpoint-up(md){
            font-size: 200px;
        }
    }
}