@import "../../assets/styles/variables";

.swingstates-chart {
  background: #009fdd;
  height: 100vh;

  //   height: 95%;

  .swingstates-chart-main {
      height:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .top{
        height:20%;
    }
    .swingstates-chart-title {
      margin: 7% 0 2%;
      width: 100%;
      letter-spacing: 0.03em;
      color: $black;
      font-family: $anon-pro;
      font-size: 0.9em;
      // font-weight: Regular;
    }
  }
}
