@import '../../assets/styles/variables';

.swingstates-page {
	background-color: $blue;
	min-height: 100vh;

	.swingstates-main {
		display: flex;
		flex-direction: column;
		justify-content: top;
		text-align: center;
		color: $white;

		.state-name {
			font-size: 2em;
		}
	}

	.swingstates-title {
		margin-bottom: 3%;
		height: 10%;
		color: $black;
		font-family: $anon-pro;
	}

	.state-name {
		padding: 1%;
	}
	
	.state-name-link {
		text-decoration: none;
		color: $white;
	}

}








