@import '../../assets/styles/variables';

.bar-chart {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 2;
    margin: 5%;
    height: 100%;
    // width:50%;

    .chart {
      z-index: 1;
      border-radius: 5px;
      background: #e57349;
    }

    .backdrop {
      display: flex;
      position: absolute;
      top: 10%;
      left: -3%;
      align-items: flex-end;
      justify-content: flex-start;
      border-radius: 5px;
      background: $white;
      padding: 10% 4% 15%;
      width: 87%;
      height: 95%;
      text-align: left;
      line-height: 1.25em;
      font-family: $anon-pro;
      font-size: 1em;
      // min-height: 110%;
      // border: 2px solid black;
    }
  }