@import "../../assets/styles/variables";

.bar-chart-main {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 2;
  margin-bottom: 10%;
  height: 80%;

  #states {
    z-index: 1;
    border-radius: 5px;
    background: #e57349;
  
  }

  .backdrop {
    display: flex;
    position: absolute;
    top: 10%;
    left: 2%;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 5px;
    background: $white;
    padding: 10% 4% 10%;
    width: 87%;
    height: 90%;
    text-align: left;
    line-height: 1.25em;
    font-family: $anon-pro;
    font-size: 1em;
    // min-height: 110%;
    // border: 2px solid black;
  }
}
