@import '../../assets/styles/variables';
// .slick-slider{
//     width:80%;
//     margin:0 auto;
//     height: 50%;

// }
// main div div.slick-list{
//     height:100%;
//     .slick-track{
//         height:100%;
//     }
// }


.chartContainer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
    .chart-wrap{
      width: 100%;
      min-height: 500px;
      background: $red;
      padding: $grid-gutter/ 2;
      display: flex;
      flex-direction: column;

      main{
        flex: 1;
      }
    }

    .nav-left{
      padding-right: $grid-gutter / 2;
    }

    .nav-right{
      padding-left: $grid-gutter / 2;
    }

    .fal{
      font-size:25px;
      transform:scaleY(1.5)
    }
  }