@import '../../assets/styles/variables';

#videoPage{
    min-height: 100vh;
    background-color: $white;
    color: $black;

    #intro{
        margin-bottom: $grid-gutter;

        @include media-breakpoint-up(md){
            margin-bottom: $grid-gutter * 2;
        }
    }

    .videos-wrap{
        .video{
            margin-bottom: $grid-gutter;

            @include media-breakpoint-up(md){
                margin-bottom: $grid-gutter * 2;
            }

            .video-thumbnail{
                position: relative;

                .video-play{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $white;
                    font-size: 100px;
                    transition: .25s;
                    cursor: pointer;

                    &:hover{
                        transform: translate(-50%, -50%) scale(1.1);
                    }
                }
            }
        }
    }
}