@import './variables.scss';

.App {
  text-align: center;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:$black;
  //max-width: 1450px;
  margin: 0 auto;
}

// Splash page styling
.app-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}


