//Variables
$black: #282c34;
$white: #ffffff;
$grid-gutter: 50px;

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  max-width: 1450px;
  margin: 0 auto;
}

.app-body {
  flex: 1;
  height:100vh;
}

.App-header{
  height: 18vh;
  background: $black;
  color:$white;
}
.App-footer {
  height: 18vh;
  background: black;
  color:$white;
  
}

.App-link {
  color: #61dafb;
}




// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
