@import "../App/variables";

#mc_embed_signup{
    clear:left; 
}


form {
	margin-bottom: 30px;
	width: 100%;
	max-width: 450px;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	input, button {
		box-sizing: border-box;
		background: transparent;
		padding: 1vh;
		width: 100%;
		text-align: center;
		color: $white;
		font-family: $anon-pro;
		font-size: 1em;
	}
	input[type="text"] {
		border: 2px solid grey;
		border-bottom: none;
	}
	button[type="submit"] {
		border: none;
		background: $red;
	}
}
