@import '../../assets/styles/variables';

#resultPage{
    background-color: $lightgrey;
    @include typeColors;
    min-height: 100vh;

}

.main-wrapper {
    padding: 20px;
    height: 100%;
    text-align: left;
}

.lead-in {    
    
}

.result-heading {    
    
}

.result-description {
    margin-top: 15px;
}