@import '../../assets/styles/variables';

.main-wrapper {
    padding: 20px;
    background: #D8D8D8;
    height: 100%;
    text-align: left;
}

.lead-in {    
    font-family: $spoof;
    font-size: 22px;
    font-weight: bold;
    color: $black;
    font-weight: 200;
}

.result-heading {    
    font-family: $spoof;
    font-size: 33px;
    color: $black;
    font-weight: 900;
}

.result-description {
    color: $black;
    font-family: $anon-pro;
    margin-top: 15px;
}