@import "../../assets/styles/variables";

.next-button {
  margin: 0 auto;
  background: $black;
  width: 100px;
  height: 50px;
  color: $white;
  border-radius: 0;
  display: flex;
  justify-content: center;
}

#sliderInput {
    width: 78vw;
    height: 100%;    
    transform: rotate(90deg);
}

.slider:-webkit-slider-thumb{
    width: 50px;
}

.slider:-moz-range-thumb {
    width: 50px;
}

.slider-wrapper {
    display: flex;    
    height: 354px;
    padding: 0;
}

.next-button {
    margin-top: 20px;
    width: 150px;
}
