@import "../../assets/styles/variables";

.quiz-main-wrapper {
  background: #EDE9E4;
  color: $black;
  font-family: $anon-pro;
  height: 100vh;
}

.range-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-heading {
  size: 30px;
}

.question-text {
  padding: 28px 40px 0px 40px;
  font-size: 23px;
  line-height: 1;
  font-weight: 900;
}

.result-description {
  size: 20px;
  margin-top: 50px;
}

.multiple-choice-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.option-button {
  color: $black;
  width: 250px;
  height: 50px;
  margin: 10px 0;
  border: 1px solid $black;  
  background: #EDE9E4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.option-button:hover {
  cursor: pointer;
  background: $green;
  transition: background 0.5s;
}
