@import '../../assets/styles/variables';

#aboutPage{
    background-color: $white;
    color: $black;
    padding: 0;

    section{
        padding: 100px 0;

        @include media-breakpoint-up(md){
            padding: 200px 0;
        }
    }

    ul li{
        margin-bottom: 10px;
    }

    #team{
        background-color: $lightgrey;
    }

    #knight{
        background-color: $black;
        color: $white;
        
        @include media-breakpoint-up(md){
            padding-bottom: 100px;
        }
    }

    #about{
        @include media-breakpoint-up(md){
            padding-top: 100px;
        }
    }
}