@import "../App/App.scss";

.splash-page {
  background: $black;
  height: 58vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: $white;
  width: 100%;
  margin: 3vh 0;
  box-sizing: border-box;

  .logo {
    height: 20%;
    display: flex;
  }
  a {
    width: 100%;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .upper {
    display:flex;
    flex-direction:column;
    justify-content:center;
    max-width: 75vw;
    margin: 0 auto;
    height:40%;
    line-height: 1.5em;
  }
  p {
    font-family: $main-splash-font;
  }
  .hash-tag {
    margin: 0.75em 0;
  }
  .lower{
    height:40%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      background: $black;
      text-align: center;
      padding: 1vh;
      color: $white;
      width: 75%;
      box-sizing: border-box;
      font-family: $main-splash-font;
    }
    input[type="text"] {
      border: 2px solid grey;
      border-bottom: none;
    }
    input[type="submit"] {
      background: $red;
      border: none;
    }
  }
  .media-icons {
    color: $white;
    i {
      font-size: 0.8em;
      padding: 0 2%;
    }
  }


  //MEDIA QUERIES
  @media only screen and (max-width: 300px) {
    .logo {
      height: 15%;
    }
  }
  @media only screen and (min-width: 600px) {
    .logo {
      height: 23%;
    }
  }
  //DESKTOP BREAKPOINT//
  @media only screen and (min-width: 900px) {
    .logo {
      height: 26%;
    }
    .upper {
      max-width: 30%;
      p {
        // padding: 2%;
        font-size: 1em;
      }
    }
    form input {
      width: 30%;
      box-sizing: border-box;
    }
    .logo {
      height: 26%;
    }
  }


  //ADJUST FOR SMALL HEIGHTS 
  @media only screen and (max-height: 600px) {
   height:74vh;
    .logo { // margin:5vh;
      height: 25%;
    }
    .upper{
      height: 25%;
     
    }
    .lower{
      height:30%;
    }
    .upper, .lower{
      font-size: 0.8em;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    
    
    }
    
  }
}
