@import "../App/App.scss";



.splash-page {
  background:$black;
  // min-height: 66vh;
  // font-size:calc(1em + .25vmin);
  // max-height:64vh;
  height:58vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // margin:5vh 5vw 1vh;
  color: $white;
  width:100%;
  margin:3vh 0;
  box-sizing:border-box;
 
  .logo {
    // border:1px solid red;
    width:100%;
    height:20%;
    display:flex;
    // align-items:center;
    justify-content:center;
    a img {
      
      // border:1px solid yellow;
      max-width:100%;
      max-height:100%;
   
    }
  }
  a{width:100%}
  .desktop-text{
    max-width:75vw;
    margin:0 auto;
    font-size:.95em;
    // letter-spacing:.05px;
    line-height: 1.5em;
  }
  p {
    font-family: "Anonymous Pro", monospace;
  }
  .hash-tag{
    margin:.75em 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      background: $black;
      text-align: center;
      padding: 1vh;
      color: $white;
      width: 75%;
      box-sizing: border-box;
     
    }
    input[type="text"] {
      border:2px solid grey;
      border-bottom: none;
    }
    input[type="submit"] {
      background: $red;
     border:none;
    }
  }
  .media-icons {
    color: $white;
    i {
      font-size:.8em; 
      padding: 0 2%;
    }
  }

  @media only screen and (max-width: 300px) {
    .logo {
     
      height:15%;
    
    }
  }
  @media only screen and (min-width: 600px) {
    .logo {
     
      height:23%;
     
    }
  }
  //DESKTOP BREAKPOINT//
  @media only screen and (min-width: 900px) {
    // margin:5vh;

    // height:60vh;
    // box-sizing:border-box;
    .logo {
      
      height:26%;
      
    }
  
    .desktop-text {
      height:20%;
      max-width:30vw;
      margin:0 auto;
      p {
        // padding: 2%;
        font-size: 1em;
      }

    }
    form input {
      width: 30vw;
      box-sizing: border-box;
    }
 
       .logo {
     
      height:26%;
    
    }
    
  }
  @media only screen and (max-height: 600px) {
    .logo{
      height:20%;
    }
    p{
      font-size:.6em;
    }
  }

}
