@import '../App/App';

.App-header {
  @include headerFooter;
  background: transparent url("../../assets/images/blue-bars.svg");
  // border:1px solid red;    
  background-position:cover;
  // background-position: calc(100% - 200px) calc(100% - 10px);  
  margin:0 auto;
  width:80%;                                                             

}


