@import '../App/App';
.App-footer {
  @include headerFooter;
    background-image: url("../../assets/images/red-bars.svg");
    margin:0 auto;
    width:80%;    
    @media only screen and (min-width: 900px) {
      width: 100%;
    }  
    @media only screen and (max-height: 600px) {
      height:10vh;
    }
  }