.App-footer {
    background-image: url("../../assets/images/red-bars.svg");
    margin:0 auto;
    width:80%;      
    // background-position-y: bottom;
    // border:1px solid green;
    
    // form {
    //   input {
    //     width: 100vw;
    //   }
    // }
  }